<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">csedbadmin</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testdb?serverTimezone=UTC</property>
		
		<!-- console에 sql문을 찍어준다 -->
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
		<!-- db table을 만드는 것을 hibernate에게 위임한다. 수행될 때마다 table 생성-->
		<property name="hibernate.hbm2ddl.auto"> create </property>

		<mapping class="testHibernate.Product"/>
		<mapping class="testHibernate.Category"/>
		<mapping class="testHibernate.Person"/>
		<mapping class="testHibernate.License"/>
		
	</session-factory>
</hibernate-configuration>