doctype html
html
    head
        title index page
        style.
            * { margin:0px; padding:0px;}
            h1 {
                color:red;
            }
            h2 {
                text-decoration: underline;
            }
    body
        // JADE STRING
        h1 hello jade!!
        h2 Lorem ipsum
        hr
        a(href="http://www.naver.com") Go To Naver