doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 eidt page!!
        p Node js programming for modern web development
        hr