<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

    <title>Web Chat</title>

    <!-- /socket.io/socket.io.js이 없어도 socket.io 모듈을 사용하면 파일이 자동으로 등록 -->
    <!-- http://127.0.0.1:3000/socket.io/socket.io.js 접속!! -->
    <script src="/socket.io/socket.io.js"></script>
    
    <script>
        $(document).ready( () => {

            function changeIcon(parent, from, to) {
                var target = $('.ui-btn-text', parent).next();
                target.removeClass(from).addClass(to);
            }

            function changeCount(index, count) {
                $('li[data-index = ' + index + '] .ul-li-count').html(count);
            }

            var socket = io.connect();

            socket.on('count', (data) => {
                changeCount(data.index, data.count); // 물건 개수를 변경
            });

            // 문서 객체 이벤트를 연결
            $('.product > a[data-icon]').click( () => {
                if($(this).attr('toggle') != 'off') {
                    var index = $(this).attr('data-index');

                    socket.emit('cart', Number(index)); // 소켓 이벤트 발생

                    changeIcon(this, 'ui-icon-check', 'yu-icon-back'); // 아이콘 및 테마 변환

                    $(this).attr('toggle', 'off'); // 토글 변수를 변경
                } else {
                    var index = $(this).attr('data-index');

                    if(confirm('물건 살꺼야 말꺼야 ㅡㅡ')) {

                        socket.emit('buy',Number(index)); // 소켓 이벤트 발생

                        // 리스트 아이템 제거
                        $(this).parent().remove();
                        $('#listview').listview('refresh');
                    } else {
                        socket.emit('return', Number(index)); // 소켓 이벤트 발생
                        changeIcon(this, 'ui-icon-back', 'yu-icon-check'); // 아이콘 및 테마 변환
                    }
                    
                    $(this).attr('toggle', 'on'); // 토글 변수를 변경
                }
            });
        });
    </script>
    
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Store</h1>
        </div>
        <div data-role="content">
            <ul id="listview" data-role="listvew" data-inset="true" data-filter="true">
                <li data-role="list-divider">products</li>
                <% products.foreach( (item, index) => { %>
                <li class="product" data-index="<%= item.index %>">
                    <a href="#">
                        <img src="chrome.png" />
                        <h3><%= item.name %></h3>
                        <p><%= item.price %>원</p>
                        <span class="ui-li-icon"><%= item.count %></span>
                    </a>
                    <a href="#" data-icon="check" data-index= "<%= item.index %>"></a>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
    
</body>
</html>